/*Общие стили*/
body {
  background-color: white;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/*visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  border: none;
}

/*Хедер*/
.header {
  width: auto;
  margin: 0;
  padding: 0;

  background-color: #eeeeee;
}

.header-logo {
  line-height: 12px;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 798px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 438px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: black;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color: black;
  opacity: 0.3;
}
/*Хедер. Конец*/
/*Index-Main*/
/*Слайдер*/
.slider {
  width: auto;

  background-color: #eeeeee;
}

.slider-list {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider-list li {
  display: flex;
  flex-direction: column;
  padding: 80px 20px 165px 20px;
}

.slider-list li:first-child {
  /*display: none;*/

  background-image: url("../img/slide1.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(2) {
  display: none;

  background-image: url("../img/slide2.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-list li:nth-child(3) {
  display: none;

  background-image: url("../img/slide3.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-list b {
  margin: 0 0 10px 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-list p {
  margin: 0;
  padding: 0;

  color: #283136;
}

.slider-list li:first-child > b {
  width: 380px;
}

.slider-list li:first-child > p {
  width: 360px;
}

.slider-list li:nth-child(2) > b {
  width: 515px;
}

.slider-list li:nth-child(2) > p {
  width: 410px;
}

.slider-list li:last-child > b {
  width: 410px;
}

.slider-list li:last-child > p {
  width: 345px;
}

.slider-button {
  display: none;

  color: white;
  background-color: #fb565a;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: #e06366;
}

.slider-switch {
  display: none;

  list-style: none;
}

.slider-switch-button {
  background-color: white;
  border: none;
}
/*Слайдер. Конец*/
/*Преимущества*/
.advantages {
  width: 1200px;
  margin: 0 auto 40px auto;
  padding: 0 20px;
}

.advantage-list {
  display: flex;
  padding: 0 40px 80px 0;
  justify-content: space-between;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.advantage-item {
  width: 300px;
}

.advantage-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-item p {
  color: #283136;
}

.advantage-item:first-child .advantage-button {
  color: white;
  background-color: #fb565a;
}

.advantage-item:first-child .advantage-button:hover {
  color: white;
  background-color: #e74246;
}

.advantage-item:first-child .advantage-button:active {
  background-color: #d7373b;
  color: #e06366;
}

.advantage-item:nth-child(2) .advantage-button {
  color: white;
  background-color: #00ca74;
}

.advantage-item:nth-child(2) .advantage-button:hover {
  color: white;
  background-color: #00bc6c;
}

.advantage-item:nth-child(2) .advantage-button:active {
  background-color: #00aa62;
  color: #4dc491;
}

.advantage-item:last-child .advantage-button {
  color: white;
  background-color: #efc84a;
}

.advantage-item:last-child .advantage-button:hover {
  color: white;
  background-color: #eab534;
}

.advantage-item:last-child .advantage-button:active {
  background-color: #e5a722;
  color: #edc265;
}
/*Промо-блок*/
.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
}

.promo-text-wrapper {
  width: 660px;
}

b.promo-text {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

p.promo-text {
  color: #283136;
}

.design-list-wrapper {
  width: 460px;
}

.precise-table {
  width: 360px;
}

.design-list-caption,
.table-caption {
  text-transform: uppercase;
}

.design-list {
  padding: 0;

  color: #283136;

  list-style: none;
}

.data td {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.data span {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: top;
}

.value td {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #283136;
}

.job-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  min-height: 184px;
  margin: 0;
  padding: 0 30px 0 45px;

  list-style: none;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.job-list a {
  opacity: 0.2;
}

.job-list a:hover {
  opacity: 1;
}

.job-list a:active {
  opacity: 0.1;
}
/*Блок  контактной информации*/
.contacts {
  width: 1440px;
  margin: 0 auto;

  background-color: #ffffff;
}

.contacts-container {
  width: 1440px;
  margin: 0 auto;
}

.address-container {
  width: 319px;
  padding: 50px 47px;

  background-color: white;
}

.address-container b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-phone,
.address-container address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  font-style: normal;
}
/*не по style-guide, но в соответствии с критерием Д29*/
.contact-phone:hover {
  color: #000000;
  opacity: 0.6;
}

.contact-phone:active {
  color: #000000;
  opacity: 1;
}

.contacts-button {
  color: white;
  background-color: #fb565a;
}

.contacts-button:hover {
  color: white;
  background-color: #e74246;
}

.contacts-button:active {
  background-color: #d7373b;
  color: #e06366;
}
/*Index-Main.Конец.*/
/*Catalog-Main*/
.catalog-title {
  background-color: #eeeeee;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: unset;
}

/*Фильтры*/
.range-filter,
.radio-filter,
.checkbox-filter {
  border: none;
}

.range-filter legend,
.radio-filter legend,
.checkbox-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-wrapper {
  background-color: #eeeeee;
}

.range-button {
  border: none;
  background-color: white;
}

.range-scale {
  background-color: #00ca74;
}

.range-filter label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  font-weight: 400;
}

.range-filter input[type="text"] {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  color: #283136;

  border: none;
  background-color: #eeeeee;
}

.radio-filter-list,
.checkbox-filter-list {
  list-style: none;
}

.radio-filter-list label,
.checkbox-filter-list label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  font-weight: 500;
}

.filter-button-submit {
  color: #000000;
  background-color: #eeeeee;
}
/*Блок сортировки*/
.sort-list {
  list-style: none;
}

.sort-list a {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  opacity: 0.3;
}

.sort-list .active-sort {
  opacity: 1;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 1;
}
/*Блок сортировки.Конец*/
/*Список шаблонов*/
.templates-list {
  list-style: none;
}

.template-info {
  background-color: #eeeeee;
  display: none;
}

.templates-list li:hover>.template-info {
  display: block;
}

.template-link {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.template-link:hover {
  color: #fb565a;
}

.template-link:active {
  color: #000000;
  opacity: 0.3;
}

.template-info p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.template-button {
  color: white;
  background-color: #fb565a;
}

.template-button:hover {
  color: white;
  background-color: #e74246;
}

.template-button:active {
  color: white;
  background-color: #d7373b;
}
/*Список шаблонов.Конец*/
/*Пагинация*/
.pagination-list {
  list-style: none;
}

.current-pagination {
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  border: 2px solid #dbdbdb;
}

.pagination-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-button {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-link:hover,
.pagination-button:hover {
  background-color: #dfdfdf;
}

.pagination-link:active,
.pagination-button:active {
  color: #a6a6a6;

  background-color: #d5d5d5;
  border-top: 2px solid #a6a6a6;
}
/*Catalog-Main.Конец*/
/*Футер*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  padding: 70px 235px 70px 20px;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
   background-color: #eeeeee;
   color: white;
 }

.social-button:hover {
  background-color: #e74246;
  color: white;
}

.social-button:active {
  background-color: #d7373b;
  color: #e37376;
}

.footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
/*Модальное окно*/
.modal {
  width: 960px;
  padding: 74px 100px 84px 100px;

  /*Временно */
  outline: 1px solid brown;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.modal-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea[placeholder]{
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;
  font-weight: 400;

  border: 2px solid #d7dcde;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea[placeholder]:hover{
  color: #a1a1a1;

  border: 2px solid #b4b9bb;
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea[placeholder]:focus{
  color: #a1a1a1;

  border: 2px solid #444444;
}

.modal-form textarea {
  resize: none;
  border: 2px solid #d7dcde;
}

.modal-submit {
  color: white;
  background-color: #fb565a;
}

.modal-submit:hover {
  color: white;
  background-color: #e74246;
}

.modal-submit:active {
  background-color: #d7373b;
  color: #e37376;
}

